* {
  
  margin: 0px;
  box-sizing: border-box;
  border-radius: 15px;
  
}
:root{
  --primary-color: rgb(31, 154, 6);
  --secondary-color: rgba(166, 22, 9, 0.856);
  --black : rgb(88, 212, 237);
  --lightblue: rgb(5, 55, 74);
  background-color: rgb(35, 243, 7);
}
.App {
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-style: italic;
  
  
}